/* Mon fichier CSS
f0f0f0 */

:root
{
--bleureservia: #0065FC;
--bleureservia2: #DEEBFF;
--background: #F2F2F2;
--grisbouton: #e0e0e0;

}

/*
TOUT :
- Mobile = max width 768px
- Desktop = min width 769px

Juste Conteneur hébergement 3 tailles supplémentaire durant le format Desktop :
- 769px 1069px = modif largeur pour affichage sur 1e colonne
- 1070px 1344px = modif largeur pour affichage sur 2 colonne 
-  min1344px = 3 colonnes 
*/


/* Depart de la versions Mobile avec TOUT */
@media screen and (max-width: 768px)
{


/* Mobile */
.header
{
display: flex;
justify-content: space-between;
margin-bottom: 0px;
margin-top: 20px;
width: auto;
height: auto;
padding-left: 18px;
padding-right: 18px;
padding-bottom: 10px;
padding-top: 10px;
border: 0px solid blue;
}

/* Mobile */
.bloclogo
{
    gap: 0px;
    position: relative;
    top: -2px;
}



/* Mobile */
.menumobile
{
display: flex;
border: 0px solid blue;
width:100%;
height:30px;
margin-bottom: 10px;
margin-top: 15px;
}

/* Mobile */
.bloctexteheader1
{
display: none;
height: 100%;
padding-left: 15px;
padding-right: 15px;
align-items: center;
border: 2px solid #ffffff;
text-decoration: none;

}
    
/* Mobile */
.bloctexteheader2
{
display: none;
height: 100%;
padding-left: 15px;
padding-right: 15px;
align-items: center;
border: 2px solid #ffffff;
text-decoration: none;

}


/* Mobile */
.premiertextetitre
{
    color: #000000; 
    font-weight:700;
    text-align: left;
    font-size:1.3em;
    font-family: 'Raleway', 'Arial';
    margin-bottom: 15px;
    user-select: none;
    line-height: 130%;
}

/* Mobile */
.conteneur
{
margin-top: 0px;
margin-block-end:0px;
max-width: 1340px;
margin-left: auto;
margin-right: auto;
border: 0px solid rgb(0, 255, 42);
}

/* Mobile */
.conteneur1
{
padding: 27px;
border: 0px solid blue;
padding-bottom: 10px;
}

/* Mobile */
.blocrecherche
{
border: 0px solid rgb(255, 94, 0);
margin-bottom: 18px;
margin-top: 35px;
display:flex;
justify-content: center;
width: auto;
height: 50px;
}

/* Mobile */
.boutonfiltres
{
display: flex;
width: auto;
height: 44px;
border-radius: 25px;
border: 2px solid var(--grisbouton) ;
background-color: #ffffff;
 }
    
/* Mobile */
.blocfiltres
{
border: 0px solid rgb(44, 0, 238);
display:flex;
flex-wrap: wrap;
justify-content: left;
width: auto;
height: auto;
margin-bottom: 22px;
gap:16px;
}
    
/* Mobile */
.blocboutonfiltres
{
border: 0px solid rgb(160, 0, 192);
display:flex;
justify-content: left;
flex-wrap: wrap;
width: auto;
 height: auto;
gap:15px;
 }    

/* Mobile */
.espacesaisie
{
    height:auto;
    width: 62%;
    font-family: 'Raleway', 'Arial';
    font-size: 1.05em;
    font-weight:500;
    padding:15px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left: 0px solid white;
    border-right: 0px solid white;
    -webkit-tap-highlight-color: transparent;
}

/* Mobile */
.espacesaisie:focus
{
    outline: none !important;
}

/* Mobile */
.boutonrechercher
{
    display: none;
}

/* Mobile */
.boutonrechercher2
{
width: auto;
height:50px;
border-radius: 0px 15px 15px 0px;
background-color:var(--bleureservia);
bottom: 0px;
-webkit-tap-highlight-color: transparent;

}

.boutonrechercher2:hover
{
    background-color: #005ce6; 
}

/* Mobile */
.conteneurhebergepopu
{
display: flex;
flex-direction: column;
justify-content:space-between;
margin: auto;
height: auto;
width: auto;
margin-bottom: 10px;
border: 0px solid rgb(0, 13, 196)
}


/* Mobile */
.conteneurheberge
{
order: 2;
border: 0px solid green;
display: column;
justify-content:space-between;
padding: 27px;
padding-top: 20px;
padding-bottom: 14px;
height: auto;
margin-bottom: 7px;
width: auto;
background-color:white;
border-radius: 0px;
}

/* height : 132px */


/* Mobile ancienne methode
.cardpopulaire img
{
border-radius: 16px 0px 0px 16px;
height: 132px;
max-width: 34%;
min-width: 34%;
object-fit: cover;
}
*/


/* Mobile ratio responsive */
.paddingratio
{
padding-bottom: 38%;
border: 0px solid blue;
height: auto;
width: 51%;
position: relative;

}

/* Mobile ratio responsive */
.cardpopulaire img
{
border-radius: 16px 0px 0px 16px;
height: 100%;
width: 100%;
object-fit: cover;
position: absolute;
}


/* Mobile */
.conteneurpopulaire
{
width: auto;
border: 0px solid blue;
height:auto;
display: column;
justify-content:space-between;
margin: auto;
background-color: var(--background) ; 
padding: 27px;
padding-top: 20px;
padding-bottom: 40px;
border-radius: 0px;
}

/* Mobile */
.blocspopulaire
    {
        display: flex;
        flex-direction:column;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 10px;
        gap: 12px;
        border: 0px solid rgb(0, 80, 145);
    }


/*  
de base
width: 360px;
*/

/* Mobile */
.cardpopulaire
{
display: flex;
justify-content: left;
width: 100%;
height: auto;
text-align: left;
text-decoration: none;
border: 5px #ffffff solid;
background-color: white;
border-radius: 20px;
-webkit-tap-highlight-color: transparent;
box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09);

}

/* Mobile */
.blocheberge
{
display: flex;
flex-wrap: wrap;
justify-content:space-around;
align-items: center;
margin: auto;
height: auto;
gap: 15px;
margin-bottom: 30px;
border: 0px solid rgb(15, 0, 155)
 }
    
/* Mobile */
.cardheberge
{
display: column;
display: grid;
width: 100%;
height: auto;
text-align: left;
background-color: white;
text-decoration: none;
border-radius: 20px;
border: 5px #ffffff solid;
-webkit-tap-highlight-color: transparent;

box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1); 
box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);

}


/* Mobile */
/*
width: 335px;
height: 112px;
*/
.blocheberge img
{
border-radius: 16px 16px 0% 0%;
background-color: white;
object-fit: cover;
width: 100%;
height: 115px;
object-fit: cover;

}

/*
Dimenssions originale 
width: 235px;
height: 113px;
*/

/* Mobile */
.conteneuractivglobal
    {
        padding: 27px;
        padding-top: 9px;
        height: auto;
        width: auto;
        display: column;
        justify-content:space-between;
        border: 0px solid blue;
        margin-bottom: 23px;
    }

/* Mobile */
.conteneuractivblocs
{
    padding-top: 15px;
    width: auto;
    height: auto;
    display: flex;
    grid-template-columns: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 0px solid rgb(255, 153, 0);
    gap: 19px;
}


/* Mobile */
.bloc2activ
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    height: auto;
    width: auto;
    border: 0px solid rgb(50, 214, 0);
    gap: 19px /* option uniquement visible sur la versions mobile */
}



/* Mobile */
.conteneurfooter
{
display: flex;
justify-content:space-between;
height: auto;
width: auto;
background-color:var(--background);
padding: 27px;
padding-top: 45px;
border: 0px solid blue;
}

/*     
width: 335px;
height: 145px;
*/

/* Mobile */
.cardactiv img
{
    object-fit: cover;
    width: 100%;
    height: 135px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
}


/* Mobile */
.cardactiv1 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
    object-fit: cover;
    background-color: white;
}

/* Mobile */
.cardactiv2 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
    object-fit: cover;
    background-color: white;
}

/* Mobile */
.cardactiv3 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
    object-fit: cover;
    background-color: white;
}

/* Mobile */
.cardactiv4 img
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 135px;
    object-fit: cover;
    background-color: white;
}


/* Mobile */
.cardactiv
{
display: column;
height: auto;
width: 100%;
margin: auto;
text-align: left;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
-webkit-tap-highlight-color: transparent;
box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.103);
-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09);

}

/* Mobile */
.cardactiv1
{
display: column;
height: auto;
width: 100%;
margin: auto;
text-align: left;
text-decoration: none;
border: 0px solid blue;
border-radius: 20px 20px 20px 20px;
-webkit-tap-highlight-color: transparent;
box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.103);
-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09);
}

/* Mobile */
.cardactiv2
{
display: column;
height: auto;
width: 100%;
margin: auto;
text-align: left;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
-webkit-tap-highlight-color: transparent;
box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.103);
-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09);
}

/* Mobile */
.cardactiv3
{
display: column;
height: auto;
width: 100%;
margin: auto;
text-align: left;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
-webkit-tap-highlight-color: transparent;
box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.103);
-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09);
}

/* Mobile */
.cardactiv4
{
display: column;
height: auto;
width: 100%;
margin: auto;
text-align: left;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
-webkit-tap-highlight-color: transparent;
box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.103);
-webkit-box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.09);
}

/* Mobile // pour pas que le texte reste bleu après clic */
.afficherplus:hover
{
    color: #000000; 
    text-align: left;
    font-weight: 600;
    font-size:1.07em;
    font-family: 'Raleway', 'Arial';
    text-decoration: none;

}

/* Mobile // pour pas que le texte reste bleu après clic */
.textefooter:hover
{
    color: #000000; 
    font-size: 0.94em;
    line-height: 190%;
    font-weight:300;
    text-align: left;
    text-decoration: none;   
    list-style-type: none;
 
}



}
/* Fin Mobile */




/* Desktop */
@media screen and (min-width: 769px)
{

/* Desktop */
.header
{
display: flex;
justify-content: space-between;
margin: auto;
padding-top: 0px;
margin-top: 0px;
max-width: 1340px;
margin-bottom: 20px;
border: 2px solid rgb(255, 255, 255);
height: 90px;

}

/* Desktop */
.bloclogo
{
    gap: 0px;
    position: relative;
    top: 25px;

}


/* Desktop */
    .menumobile
    {
    display: none;
    }

/* Desktop */
    .premiertextetitre
    {
        color: #000000; 
        font-weight:700;
        text-align: left;
        font-size:1.3em;
        font-family: 'Raleway', 'Arial';
        margin-bottom: 10px;
        user-select: none;

    }


/* Desktop */
.conteneur
    {
    margin-top: 0px;
    margin-block-end:0px;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #ff0000
    }

    /* Desktop */
    .conteneur1
    {
        border: 0px solid transparent;
    }

    /* Desktop */
    .bloctexteheader1
    {
    display: flex;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-decoration: none;
    border: 2px solid #ffffff;

    }
    
    /* Desktop */
    .bloctexteheader2
    {
    display: flex;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-decoration: none;
    border: 2px solid #ffffff;


    }

    /* Desktop */
    .blocrecherche
    {
    border: 0px solid rgb(255, 94, 0);
    margin-left: 8px;
    margin-bottom: 26px;
    margin-top: 21px;
    display:flex;
    justify-content: left;
    width: auto;
    height: 50px;
    gap:0px;
    }

    /* Desktop */
    .boutonfiltres
    {
        display: flex;
        width: auto;
        height: 44px;
        border-radius: 25px;
        border: 2px solid var(--grisbouton);
        background-color: #ffffff;
    }
    
/* Desktop */
    .blocfiltres
    {
        border: 0px solid rgb(0, 111, 238);
        display:flex;
        justify-content: left;
        width: auto;
        height: auto;
        gap:15px;
    }
    
    /* Desktop */
    .blocboutonfiltres
    {
        border: 0px solid rgb(6, 192, 0);
        display:flex;
        justify-content: left;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        gap:25px;
    }    

/* Desktop */
.espacesaisie
{
    height:auto;
    width: 200px;
    font-family: 'Raleway', 'Arial';
    font-size: 1.05em;
    font-weight:500;
    padding:15px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left: 0px solid white;
    border-right: 0px solid white;
}

/* Desktop */
.espacesaisie:focus
{
    outline: none !important;
}


/* Desktop */
.boutonrechercher
    {
    width: auto;
    height:50px;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--bleureservia);
    text-decoration: none;
    position: relative;
    right:0px;
    bottom: 0px;
    }

    .boutonrechercher:hover
{
    background-color: #005ce6; 
}

/* Desktop */
.boutonrechercher2
    {
    display: none;
    }

    /* Desktop */
    .conteneurhebergepopu
    {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
    height: auto;
    width: auto;
    gap:35px;
    margin-bottom: 25px;
    border: 0px solid rgb(196, 0, 0)
    }

    /* Desktop */
    .conteneurheberge
    {
    display: column;
    justify-content:space-between;
    padding: 41px;
    padding-top: 24px;
    height: auto;
    margin-bottom: 0px;
    width: auto;
    background-color:#f0f0f0;
    border-radius: 30px;
    }   


/*     
width: 126px;
height: 132px;
*/


/* Desktop */
.cardpopulaire img
{
border-radius: 16px 0px 0px 16px;
height: 132px;
min-width: 126px;
max-width: 126px;
object-fit: cover;
}


    /* Desktop */
    .conteneurpopulaire
    {
    width: 335px;
    height:545px;
    display: column;
    justify-content:space-between;
    margin: auto;
    background-color:#f0f0f0;
    padding: 41px;
    padding-top: 24px;
    border-radius: 30px;
    }

    /* Desktop */
    .blocspopulaire
    {
        display: flex;
        flex-direction:column;
        align-items: center;
        width: auto;
        height: auto;
        margin-top: 13px;
        gap: 26px;
        border: 0px solid rgb(0, 80, 145);
    }


    /* Desktop */
    .cardpopulaire
    {
    display: flex;
    justify-content: left;
    width: 335px;
    height: auto;
    text-align: left;
    text-decoration: none;
    border: 5px #ffffff solid;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09); 
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09);    }

    /* Desktop */
    .blocheberge
    {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
        margin: auto;
        height: auto;
        gap: 30px;
        margin-top: 13px;
        margin-bottom: 30px;
        border: 0px solid rgb(15, 0, 155)
    }
    
    /* Desktop */
    .cardheberge
    {
    display: column;
    width: auto;
    height: auto;
    text-align: left;
    background-color: white;
    border-radius: 20px;
    border: 5px #ffffff solid;
    text-decoration: none;
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.14);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09); 
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09);

    }
    
        /* Desktop */
    .blocheberge img
    {
    border-radius: 16px 16px 0% 0%;
    background-color: white;
    object-fit: cover;
    width: 235px;
    height: 113px;

    }

    /* Desktop */
    .conteneuractivglobal
    {
        height: auto;
        width: auto;
        display: column;
        justify-content:space-between;
        border: 0px solid blue;
        margin-bottom: 58px;
        margin-top: 25px;
        padding-top: 11px;
    }

/*   
display: grid;
grid-gap: 10px; 
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
*/

/* Desktop */
.conteneuractivblocs
{
width: auto;
height: auto;
flex-wrap: wrap;
display: flex;
justify-content: space-between;
border: 0px solid rgb(255, 153, 0);
margin-top: 24px;
gap: 20px;
}

/* Desktop */
.bloc2activ
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    height: auto;
    width: auto;
    border: 0px solid rgb(50, 214, 0);
    gap: 20px /* option uniquement visible sur la versions mobile */
}


/* Desktop */
.conteneurfooter
{
    display: flex;
    justify-content:space-between;
    height: auto;
    width: auto;
    background-color: var(--background);
    padding: 45px;
    border: 0px solid blue;
}
    
/* Desktop */
.cardactiv
{
display: column;
height: auto;
width:auto;
text-align: left;
flex:1;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1); 
box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
}

/* Desktop */
.cardactiv1
{
display: column;
height: auto;
text-align: left;
text-decoration: none;
border: 0px solid blue;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1); 
box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
}

/* Desktop */
.cardactiv2
{
display: column;
height: auto;
text-align: left;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1); 
box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
}

/* Desktop */
.cardactiv3
{
display: column;
height: auto;
text-align: left;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1); 
box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
}

/* Desktop */
.cardactiv4
{
display: column;
height: auto;
text-align: left;
text-decoration: none;
border-radius: 20px 20px 20px 20px;
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1); 
box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.1);
}


/* Desktop */
.cardactiv img
{
    object-fit: cover;
    height: 395px;
    width: 301px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;

}

/* Desktop */
.cardactiv1 img
{
    border-radius: 20px 20px 0px 0px;
    width: 301px;
    height: 179px;
    object-fit: cover;
    background-color: white;
}

/* Desktop */
.cardactiv2 img
{
    border-radius: 20px 20px 0px 0px;
    width: 301px;
    height: 120px;
    object-fit: cover;
    background-color: white;
}

/* Desktop */
.cardactiv3 img
{
    border-radius: 20px 20px 0px 0px;
    width: 301px;
    height: 138px;
    object-fit: cover;
    background-color: white;
}

/* Desktop */
.cardactiv4 img
{
    border-radius: 20px 20px 0px 0px;
    width: 301px;
    height: 152px;
    object-fit: cover;
    background-color: white;
}


.cardheberge:hover
{
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.219);
    -webkit-box-shadow: 1px 4px 10px -2px rgba(0,0,0,0.38); 
    box-shadow: 1px 4px 10px -2px rgba(0,0,0,0.38);
    transition: 0.2s;
}

.cardpopulaire:hover
{
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.219);
    -webkit-box-shadow: 1px 4px 10px -2px rgba(0,0,0,0.38); 
    box-shadow: 1px 4px 10px -2px rgba(0,0,0,0.38);
        transition: 0.2s;
}


}

/* Fin Dekstop  */



/* Modif Conteneur hébergement uniquement
!! Mobile : max 768px (pas de media querry requis modif déja présente dans Mobile TOUT

3 tailles : 
> Taille 1e colonne : 769px - 1069px
> Taille 2 colone : 1070px - 1344px
> Taille 3 colone : min - 1344px (largeur en taille fixe car le conteneur ne s'étire pas de toute mannières ????)
*/


/* Taille 1e colonne : 769px - 1069px */
@media screen and (min-width: 769px) and (max-width: 1069px)
{


/* Taille 1 */
.conteneurheberge
    {
    display: column;
    justify-content:space-between;
    padding: 41px;
    padding-top: 24px;
    height: auto;
    margin-bottom: 0px;
    width: auto;
    background-color:#f0f0f0;
    border-radius: 30px;
    }   


/* Taille 1 */
.blocheberge
    {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
        margin: auto;
        height: auto;
        gap: 30px;
        margin-top: 13px;
        margin-bottom: 30px;
        border: 0px solid rgb(15, 0, 155)
    }
    
/* Taille 1 */
.cardheberge
{
display: column;
display: grid;
width: 77%;
min-width: 235px;
height: auto;
text-align: left;
background-color: white;
text-decoration: none;
border-radius: 20px;
border: 5px #ffffff solid;
box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09);
}
 

/* Taille 1 */
.blocheberge img
    {
    border-radius: 16px 16px 0% 0%;
    background-color: white;
    object-fit: cover;
    width: 100%;
    height: 113px;

    }


    



}
/* Fin Taille 1 heberge  */



/* Taille 2 colonne : 1070px - 1344px */
@media screen and (min-width: 1070px) and (max-width: 1344px)
{


/* Taille 2 */
.conteneurheberge
    {
    display: column;
    justify-content:space-between;
    padding: 41px;
    padding-top: 24px;
    height: auto;
    margin-bottom: 0px;
    width: auto;
    background-color:#f0f0f0;
    border-radius: 30px;
    }   


/* Taille 2 */
.blocheberge
    {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: center;
        margin: auto;
        height: auto;
        gap: 30px;
        margin-top: 13px;
        margin-bottom: 30px;
        border: 0px solid rgb(15, 0, 155)
    }
    
/* Taille 2 */
.cardheberge
{
display: column;
display: grid;
width: 45%;
min-width: 235px;
height: auto;
text-align: left;
background-color: white;
text-decoration: none;
border-radius: 20px;
border: 5px #ffffff solid;
box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.14);
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09); 
box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.09);
}
 

/* Taille 2 */
.blocheberge img
    {
    border-radius: 16px 16px 0% 0%;
    background-color: white;
    object-fit: cover;
    width: 100%;
    height: 113px;

    }


}








body
{ 
    font-family: 'Raleway', 'Arial';
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    border:0px solid rgb(0, 68, 255)

}

 /*
.header
{
display: flex;
height: 70px;
justify-content: space-between;
}
*/


.h1
{
    color: #000000; 
    text-align: left;
    font-size:1.3em;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 13px;
    font-family: 'Raleway', 'Arial';
    user-select: none
}


.afficherplus
{
    color: #000000; 
    text-align: left;
    font-weight: 600;
    font-size:1.07em;
    font-family: 'Raleway', 'Arial';
    text-decoration: none;

}


.h3
{
    color: #000000; 
    text-align: left;
    font-size:0.94em;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Raleway', 'Arial';
}


.h3p
{
    color: #000000; 
    text-align: left;
    font-size:0.94em;
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 15px;
    font-family: 'Raleway', 'Arial';

}


/* Texte */
.p
{
    color: #000000; 
    font-size: 0.87em;
    font-weight: 400;
    font-family: 'Raleway', 'Arial';
    margin-top: 0px;
    margin-bottom: 0px;
    user-select: none

}

/* Texte */
.pg
{
    color: #000000; 
    font-size: 0.95em;
    font-family: 'Raleway', 'Arial';
    margin-top: 2px;
    margin-bottom: 2px;
    user-select: none

}


a:hover
{
    color: var(--bleureservia); 
}



img:hover
{
opacity: 1;
}

.headerright
{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    gap: 37px;
    border: 0px solid rgb(142, 35, 35);
    padding-left: 20px;
    padding-right: 26px;
}


.bloctexteheader3
{
    height: 100%;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    align-items: center;
    text-align: center;
    border: 0px solid #a30000;
    border-bottom: 3px solid #f0f0f0;

}


.bloctexteheader3:hover
{
    height: 100%;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #0065FC;

}

.bloctexteheader3:hover .texteheader2
{
    color: var(--bleureservia);
}

.bloctexteheader1:hover
{
    border-top: 2px solid #0065FC;
}

.bloctexteheader1:hover .texteheader
{
    color: var(--bleureservia);
}

.bloctexteheader2:hover
{
    border-top: 2px solid #0065FC;
}

.bloctexteheader2:hover .texteheader
{
    color: var(--bleureservia);
}

.texteheader2
{
    color: #000000; 
    font-size: 0.95em;
    font-weight:400;
    text-align: center;
    text-decoration: none;
    user-select: none;
    margin-top: 0px;
    padding-top: 0px;

}

.texteheader
{
    color: #000000; 
    font-size: 0.95em;
    font-weight:400;
    text-align: center;
    text-decoration: none;
    user-select: none;
    margin-top: 0px;
    padding-top: 0px;

}


.texteinscription
{
    margin-left: 20px;
    color: #0065FC; 
    font-size: 0.95em;
    font-weight:600;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 00px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}


/* En tête de la page sous le logo */
.blocpremiertexte
{
    height: auto;
    width: auto;
    border: 0px solid black;
    margin-bottom: 3px;
    margin-top: 0px;
}



.premiertexte 
{
    color: #000000; 
    font-size: 0.93em;
    font-family: 'Raleway', 'Arial';
    margin-top: 0px;
    margin-bottom: 5px;

}


.boutonlocalisation
{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color:var(--background);
    position: relative;
    right:0px;
    bottom: 0px
}


.logolocalisation
{
    position: relative;
    left: 18.5px;
    top: 14px;
    font-size: 1.15em;
    color: rgb(0, 0, 0);
}

/*    position: relative;
    left: 2px;
    top: 2px */

.logoloupe
{
    position: relative;
    left: 1.83px;
    top: 2.5px
}



.texterecherche
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    color: white;    
    font-weight: 600;
    margin-top: 15px;
    margin-left: 15px;
    margin-right:18px

}


.textefiltres
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-right:20px;
    position: relative;
    bottom:1px;
    user-select: none

}


.textefiltres1
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    font-weight: 600;
    margin-top: 12.5px;
    margin-left: 3px;
    margin-right:23px;
    user-select: none

}


.boutonfiltres:hover
{
    display: flex;
    width: auto;
    height: 44px;
    border-radius: 25px;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    color: var(--bleureservia);

}

.rondfiltres
{
    width: 44px;
    height:44px;
    border-radius: 100%;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    position: relative;
    right:3px;
    bottom: 2px
}

.logofiltres1
{
    position: relative;
    left: 11.5px;
    top: 12.6px;
    color: #0065FC;
    font-size: 1em;
    
}

.logofiltres2
{
    position: relative;
    left: 14px;
    top: 11.2px;
    color: #0065FC;
    font-size: 1.25em;
    
}

.logofiltres3
{
    position: relative;
    left: 12.5px;
    top: 12.5px;
    color: #0065FC;
    font-size: 1.15em;
    
}

.logofiltres4
{
    position: relative;
    left: 11px;
    top: 9px;
    color: #0065FC;
    font-size: 1.2em;
    
}




/* Info (en dessous filtres) */


.blocinfo
{
    margin-left: 8px;
    margin-bottom: 7px;
    margin-top: 15px;
    gap:9px;
    display:flex;
    justify-content: left;
    width: auto;
    padding-top: 8px;
}

.rondinfo
{
    min-width: 21px;
    max-width: 21px;
    min-height:21px;
    max-height:21px;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    justify-content: center;
    position: relative;
}

.logoinfo
{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8.5px;
    top: 4.75px;
    font-size: 0.7em;
    color: var(--bleureservia);
    
}


/* Texte dans Card */
.texteheberge
{
display: flex;
flex-direction: column;
width: auto;
height: auto;
text-align: left;
border: 0px solid rgb(255, 0, 0);
margin-top: 6px;
padding-left: 13px;
margin-bottom: 6px;
gap: 3px

}

/* Note dans Texte */
.bluestar
{
display: flex;
justify-content: left;
width: auto;
height: auto;
text-align: left;
margin-top: 6px;
border: 0px solid rgb(247, 0, 255);
background-color: white;
font-size: 0.72em; 
color: rgb(7, 92, 250);

}

.greystar
{
display: flex;
justify-content: left;
width: auto;
height: auto;
text-align: left;
margin-top: 6px;
border: 0px solid rgb(247, 0, 255);
background-color: white;
font-size: 0.72em; 
color: #d9d9d9;

}

.flex
{
    display: flex;
}

.logotendance
{
    position: relative;
    right: 2.5px;
    top: 21px;
    font-size: 1.35em;
    color: rgb(0, 0, 0);
}

.headerheberge
{   
    border: 0px solid rgb(0, 240, 12);
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 6px;

}


.headerpopulaire
{   
    border: 0px solid rgb(0, 240, 12);
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 6px;

}



/* Texte in Card populaire  */
.textepopulaire
{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 66%;
height: auto;
text-align: left;
padding: 15px;
padding-top: 5px;
padding-bottom: 12px;
border: 0px solid rgb(255, 0, 0);

}


/* Texte in Card populaire  */
.textetoppopulaire
{
display: column;
width: auto;
height: auto;
text-align: left;
border: 0px solid rgb(51, 255, 0);
background-color: white

}

.bloc1activ
{
    display: flex;
    height: auto;
    width: auto;
    border: 0px solid rgb(0, 22, 221);
}


/*     
margin-top: 9px;    
 */

.texteactiv
{
    font-family: 'Raleway', 'Arial';
    border: 0px solid rgb(255, 0, 0);
    padding-left: 18px;
    display: flex;
    align-items: center;
    height: 38px;
    padding-top: 6px;
    padding-bottom:7px ;
    font-size: 1.02em;

}




/* Footer */

footer 
{
    display: absolute;
    position: relative;
    width: 100%;
    margin: 0px;
    border: 0px solid rgb(31, 0, 167)


}


.conteneurfooter2
{
    width: 1340px;
    margin: auto;
    border: 0px solid #1900ff;

}

.blocsfooter
{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border: 0px solid #1900ff;
    gap: 17px;

}


.bloctextefooter
{
    height: auto;
    flex:1;
    min-width: 235px;
    justify-content: column;
    margin-bottom: 10px;
    border: 0px solid black;

}


.textefooter
{
    color: #000000; 
    font-size: 0.94em;
    line-height: 195%;
    font-weight:300;
    text-align: left;
    text-decoration: none;   
    list-style-type: none;
    user-select: none;
 
}


.textefooterstrong
{
    color: #000000; 
    font-size: 1.1em;
    font-weight:600;
    text-align: left;
    margin-bottom: 14px;
    user-select: none;

}


