/* Mon fichier CSS */


/* Mobile */
@media screen and (max-width: 768px)
{

    /* pour header : max-width: 1340px; */

    .header
    {
    margin-bottom: 5px;
    margin-top: 5px;
    width: auto;
    border: 0px solid blue;
    }

    .menumobile
    {
    display: flex;
    border: 0px solid blue;
    width:100%;
    height:40px;
    margin-bottom: 30px;
    margin-top: 12px;

    }

    .bloctexteheader1
    {
        display: none;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        border: 2px solid #ffffff;
    
    }
    
    .bloctexteheader2
    {
        display: none;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        align-items: center;
        border: 2px solid #ffffff;
    }



/* Conteneur de tous les blocs */
.conteneur
{
    margin-top: 0px;
    margin-block-end:0px;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(0, 255, 42);
}

.conteneur1
{
padding: 21px;
border: 2px solid blue;

}


/* Zone Recherche */
.blocrecherche
{
    border: 0px solid rgb(255, 94, 0);
    margin-bottom: 10px;
    margin-top: 23px;
    display:flex;
    justify-content: center;
    width: auto;
    height: 50px;
    gap:0px;
}

/* Bouton
    pas besoins si gap
    margin-left: 5px;
    margin-right: 19px;
     besoins si gap marche pas pendant column ?
    margin-top: 13px;
    margin-bottom: 13px;
*/

    .boutonfiltres
    {
        display: flex;
        width: auto;
        height: 44px;
        border-radius: 25px;
        border: 2px solid #f5f5f5;
        background-color: #ffffff;
    
    }
    
    /* Blocs filtres
        margin-left: 8px;
        margin-bottom: 26px;
        margin-top: 26px;
        height: 48px;
    */
    
    .blocfiltres
    {
        border: 0px solid rgb(44, 0, 238);
        display:grid;
        justify-content: left;
        width: auto;
        height: auto;
        gap:15px;
    
    }
    
    .blocboutonfiltres
    {
        border: 0px solid rgb(160, 0, 192);
        display:flex;
        justify-content: left;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        gap:25px;
    
        }    

.boutonrechercher
{
    display: none;
}

.boutonrechercher2
{
    width: auto;
    height:50px;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
    bottom: 0px;
    position: relative;
    right: 13px;

}

/* Double Conteneur Hébergement + Populaire */
.conteneurhebergepopu
{
    display: column;
    justify-content:space-between;
    margin: auto;
    height: auto;
    width: auto;
    gap:35px;
    margin-bottom: 50px;
    border: 2px solid rgb(196, 0, 0)
}


/* Conteneur Hébergement */
.conteneurheberge
{
    display: column;
    justify-content:space-between;
    padding: 41px;
    height: auto;
    margin-bottom: 0px;
    width: auto;
    background-color:#ffffff;
    border-radius: 30px;
}

/* Populaire */
.conteneurpopulaire
{
    width: auto;
    height:545px;
    display: column;
    justify-content:space-between;
    margin: auto;
    background-color:#f5f5f5;
    padding: 41px;
    border-radius: 00px;
}


.cardpopulaire
{
display: flex;
justify-content: left;
max-width: 360px;
min-width: 330px;
height: auto;
text-align: left;
border: 5px #ffffff solid;
background-color: white;
border-radius: 20px;
box-shadow: 0 0 6px 3px #b1b1b12c;

}


}
/* Fin Version Mobile */



/* Desktop */
@media screen and (min-width: 769px)
{

    .header
    {
    margin: auto;
    margin-top: 30px;
    max-width: 1340px;
    margin-bottom: 20px;
    border: 0px solid rgb(17, 0, 255);
    justify-content: center;
    }


    .menumobile
    {
    display: none;
    }

    /* Conteneur de tous les blocs */
    .conteneur
    {
    margin-top: 0px;
    margin-block-end:0px;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #ff0000
    }

    .conteneur1
    {
    padding: 0px;
    border: 0px solid blue;
    }

    .bloctexteheader1
    {
    display: flex;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: 2px solid #ffffff;
    }
    
    .bloctexteheader2
    {
    display: flex;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    border: 2px solid #ffffff;
    }

    /* Zone Recherche */
    .blocrecherche
    {
    border: 0px solid rgb(255, 94, 0);
    margin-left: 8px;
    margin-bottom: 26px;
    margin-top: 21px;
    display:flex;
    justify-content: left;
    width: auto;
    height: 50px;
    gap:0px;
    }

    .boutonfiltres
    {
        display: flex;
        width: auto;
        height: 44px;
        border-radius: 25px;
        border: 2px solid #f0f0f0;
        background-color: #ffffff;
    }
    
    .blocfiltres
    {
        border: 0px solid rgb(0, 111, 238);
        display:flex;
        justify-content: left;
        width: auto;
        height: auto;
        gap:15px;
    }
    
    .blocboutonfiltres
    {
        border: 0px solid rgb(6, 192, 0);
        display:flex;
        justify-content: left;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        gap:25px;
    }    


    /* display desktop activé */
    .boutonrechercher
    {
    width: auto;
    height:50px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    position: relative;
    right:0px;
    bottom: 0px;
    }

    /* bouton mobile désactivé */
    .boutonrechercher2
    {
    display: none;
    }

    .conteneurhebergepopu
    {
    display: flex;
    justify-content:space-between;
    margin: auto;
    height: auto;
    width: auto;
    gap:35px;
    margin-bottom: 50px;
    border: 2px solid rgb(196, 0, 0)
    }

    .conteneurheberge
    {
    display: column;
    justify-content:space-between;
    padding: 41px;
    padding-top: 25px;
    height: auto;
    margin-bottom: 0px;
    width: auto;
    background-color:#f5f5f5;
    border-radius: 30px;
    }   

    .conteneurpopulaire
    {
    width: 335px;
    height:545px;
    display: column;
    justify-content:space-between;
    margin: auto;
    background-color:#f5f5f5;
    padding: 41px;
    padding-top: 25px;
    border-radius: 30px;
    }

    .cardpopulaire
    {
    display: flex;
    justify-content: left;
    width: 335px;
    height: auto;
    text-align: left;
    border: 5px #ffffff solid;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b
    }



}

/* Fin Dekstop  */







body
{ 
    font-family: 'Raleway', 'Arial';
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    border:0px solid rgb(0, 68, 255)

}

.header
{
display: flex;
height: 70px;
justify-content: space-between;
}



h1
{
    color: #000000; 
    text-align: left;
    font-size:1.3em;
    font-family: 'Raleway', 'Arial';
}


h2
{
    color: #000000; 
    text-align: left;
    font-size:1.1em;
    font-family: 'Raleway', 'Arial';

}


h3
{
    color: #000000; 
    text-align: left;
    font-size:0.93em;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Raleway', 'Arial';

}

/* Texte */
p 
{
    color: #000000; 
    font-size: 0.93em;
    font-family: 'Raleway', 'Arial';
    margin-top: 2px;
    margin-bottom: 2px;

}


a:hover
{
    color: #0047b1; 
}

/* test */
a:active
{
    color: #000000;
}


img:hover
{
opacity: 0.96;
}



.bloclogo
{
    gap: 0px;
    position: relative;
    top: 10px;
}

.headerright
{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    gap: 0px;
    border: 0px solid rgb(142, 35, 35);
    padding-left: 20px;
    padding-right: 20px;
}


.bloctexteheader3
{
    height: 100%;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    border: 0px solid #a30000;
    border-bottom: 3px solid #f0f0f0;
}


.bloctexteheader3:hover
{
    height: 100%;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid #0065FC;

}


.bloctexteheader1:hover
{
    border-top: 2px solid #0065FC;
}

.bloctexteheader2:hover
{
    border-top: 2px solid #0065FC;
}

.texteheader2
{
    color: #0065FC; 
    font-size: 0.98em;
    font-weight:500;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 0px;

}

.texteheader
{
    color: #0065FC; 
    font-size: 0.98em;
    font-weight:500;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 0px;

}

.texteheader:hover
{
    border-top: #0065FC solid 0px;

}

.texteinscription
{
    margin-left: 20px;
    color: #0065FC; 
    font-size: 0.95em;
    font-weight:600;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;

}


/* En tête de la page sous le logo */
.blocpremiertexte
{
    height: auto;
    width: auto;
    border: 0px solid black;
    margin-bottom: 3px;
    margin-top: 0px;
}


.premiertextetitre
{
    color: #000000; 
    font-weight:700;
    text-align: left;
    font-size:1.3em;
    font-family: 'Raleway', 'Arial';
    margin-bottom: 10px;
}


.premiertexte 
{
    color: #000000; 
    font-size: 0.93em;
    font-family: 'Raleway', 'Arial';
    margin-top: 0px;
    margin-bottom: 5px;

}


.boutonlocalisation
{
    width: 50px;
    height:50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f0f0f0;
    position: relative;
    right:0px;
    bottom: 0px
}


.logolocalisation
{
    position: relative;
    left: 18.5px;
    top: 14px;
    font-size: 1.15em;
    color: rgb(0, 0, 0);
}


.espacesaisie
{
    height:auto;
    width: 200px;
    font-family: 'Raleway', 'Arial';
    font-size: 1.05em;
    font-weight:500;
    padding:15px;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    border-left: 0px solid white;
    border-right: 0px solid white;

}


.logoloupe
{
    position: relative;
    left: 2px;
    top: 0.99px
    
}



.texterecherche
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    color: white;    
    font-weight: 600;
    margin-top: 13px;
    margin-left: 15px;
    margin-right:18px

}


.textefiltres
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-right:20px;
    position: relative;
    bottom:1px


}


.textefiltres1
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    font-weight: 600;
    margin-top: 12.5px;
    margin-left: 3px;
    margin-right:23px

}


.boutonfiltres:hover
{
    display: flex;
    width: auto;
    height: 44px;
    border-radius: 25px;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    color: #0065FC;

}

.rondfiltres
{
    width: 44px;
    height:44px;
    border-radius: 100%;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    position: relative;
    right:3px;
    bottom: 2px
}

.logofiltres1
{
    position: relative;
    left: 11.5px;
    top: 12.6px;
    color: #0065FC;
    font-size: 1em;
    
}

.logofiltres2
{
    position: relative;
    left: 14px;
    top: 11.2px;
    color: #0065FC;
    font-size: 1.25em;
    
}

.logofiltres3
{
    position: relative;
    left: 12.5px;
    top: 12.5px;
    color: #0065FC;
    font-size: 1.15em;
    
}

.logofiltres4
{
    position: relative;
    left: 11px;
    top: 9px;
    color: #0065FC;
    font-size: 1.2em;
    
}




/* Info (en dessous filtres) */


.blocinfo
{
    margin-left: 8px;
    margin-bottom: 7px;
    margin-top: 15px;
    gap:9px;
    display:flex;
    justify-content: left;
    width: auto;
    padding-top: 8px;
}

.rondinfo
{
    width: 21px;
    height:21px;
    border-radius: 50px;
    border: 1px solid #dbdbdb;
    justify-content: center;
    position: relative;
    bottom: 2px
}

.logoinfo
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 8.8px;
    top: 4.4px;
    font-size: 0.7em;
    color: #0065FC;
    
}


/* Bloc Hébergement */

.blocsheberge
{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    height: auto;
    gap: 30px;
    margin-bottom: 30px;
    border: 0px solid rgb(15, 0, 155)
}

/* Card hébergement */
.cardheberge
{
display: column;
width: auto;
height: auto;
text-align: left;
background-color: white;
border-radius: 20px;
border: 5px #ffffff solid;
box-shadow: 0 0 6px 3px #b1b1b14b;
}


/* Photo in hebergement */
.blocsheberge img
{
width: 235px;
height: 113px;
border-radius: 16px 16px 0% 0%;
background-color: white

}


/* Texte dans Card */
.texteheberge
{
display: column;
width: auto;
height: auto;
text-align: left;
border: 0px solid rgb(255, 0, 0);
background-color: white;
padding-left: 13px;

}

/* Note dans Texte */
.bluestar
{
display: flex;
justify-content: left;
width: auto;
height: auto;
text-align: left;
margin-top: 5px;
margin-bottom: 5px;
border: 0px solid rgb(247, 0, 255);
background-color: white;
font-size: 0.72em; 
color: rgb(7, 92, 250);

}

.greystar
{
display: flex;
justify-content: left;
width: auto;
height: auto;
text-align: left;
margin-top: 5px;
margin-bottom: 5px;
border: 0px solid rgb(247, 0, 255);
background-color: white;
font-size: 0.72em; 
color: #d9d9d9;

}

.flex
{
    display: flex;
}

.logotendance
{
    position: relative;
    right: 2.5px;
    top: 14px;
    font-size: 1.35em;
    color: rgb(0, 0, 0);
}

.headerheberge
{   
    border: 0px solid rgb(0, 240, 12);
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 6px;

}


.headerpopulaire
{   
    border: 0px solid rgb(0, 240, 12);
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 6px;

}

.blocspopulaire
{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: auto;
    height: auto;
    gap: 26px;
    border: 0px solid rgb(0, 80, 145);
}



/* Photo in blocspopulaire */
.blocspopulaire img
{
width: 126px;
height: 132px;
border-radius: 12% 0% 0% 12%;
background-color: white

}


/* Texte in Card populaire  */
.textepopulaire
{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 250px;
height: auto;
text-align: left;
margin-left: 12px;
padding-right: 10px;
border: 0px solid rgb(255, 0, 0);
background-color: white

}


/* Texte in Card populaire  */
.textetoppopulaire
{
display: column;
width: auto;
height: auto;
text-align: left;
border: 0px solid rgb(51, 255, 0);
background-color: white

}


/* Activité à Marseilles */

/* Photo in blocspopulaire / corn le haut */
.blocs1activ img
{
    height: 395px;
    width: 301px;
    border-radius: 16px 16px 0px 0px;
    background-color: white;

}


/* Photo in blocspopulaire */
.blocs2activ img
{
    border-radius: 16px 16px 0px 0px;
    width: 301px;
    background-color: white

}


/* Les Card activités */
.cardactiv
{
display: column;
height: auto;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
flex:1;

}

.cardactiv1
{
display: column;
height: 227px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.cardactiv2
{
display: column;
height: 171px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.cardactiv3
{
display: column;
height: 190px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.cardactiv4
{
display: column;
height: 202px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.conteneuractivglobal
{
    height: auto;
    width: auto;
    display: column;
    justify-content:space-between;
    border: 0px solid blue;
    margin-bottom: 58px;
}


.conteneuractivblocs
{
    width: auto;
    height: auto;
    display: flex;
    grid-template-columns: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid rgb(255, 153, 0);
    gap: 30px;
}

.blocs1activ
{
    display: flex;
    height: auto;
    width: auto;
    border: 2px solid rgb(0, 22, 221);
}


.blocs2activ
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    height: auto;
    width: auto;
    border: 2px solid rgb(50, 214, 0);
    gap: 50px
}


/*     
margin-top: 9px;    
 */

.texteactiv
{
    font-family: 'Raleway', 'Arial';
    border: 0px solid rgb(255, 0, 0);
    padding-left: 18px;
    margin-top: 9px;
    height: 30px;
    font-size: 1.02em;


}




/* Footer */

footer 
{
    display: absolute;
    position: relative;
    width: 100%;
    margin: 0px;
    border: 0px solid rgb(31, 0, 167)


}

.conteneurfooter
{
    display: flex;
    justify-content:space-between;
    height: auto;
    width: auto;
    background-color:#f5f5f5;
    padding: 45px;

}


.conteneurfooter2
{
    width: 1340px;
    margin: auto;
    border: 0px solid #1900ff;

}

.blocsfooter
{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border: 0px solid #1900ff;
    gap: 17px;

}


.bloctextefooter
{
    height: auto;
    flex:1;
    min-width: 235px;
    justify-content: column;
    margin-bottom: 10px;
    border: 0px solid black;

}


.textefooter
{
    color: #000000; 
    font-size: 1em;
    line-height: 190%;
    font-weight:300;
    text-align: left;
    text-decoration: none;

}


.textefooterstrong
{
    color: #000000; 
    font-size: 1.1em;
    font-weight:600;
    text-align: left;
    margin-bottom: 10px;

}











/* Responsive header Grid je n'arrive pas à le faire */
/*
En 2 ligne
.header
{
display: grid;
grid-template-areas: 
"lo lo lo 0 0 0 0 0 0 0 0 ins"
"0 activ 0 0 heberge 0";
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(2, 1fr);

height: 70px;
width: auto;
justify-content: space-between;
border: 2px solid rgb(6, 194, 0);
margin-bottom: 35px;

}

/*
En 1 ligne
.header
{
display: grid;
grid-template-areas: 
"lo lo lo lo lo lo lo lo lo heberge activ ins";
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(1, 1fr);
    
height: 70px;
width: auto;
justify-content: space-between;
border: 2px solid rgb(255, 0, 98);
margin-bottom: 35px;

}
*/