/* Mon fichier CSS */

/* Responsive Options (a faire plus tard) */
@media screen and (max-width: 880px)
{}
@media screen and (min-width: 881px)
{}


body
{ 
    font-family: 'Raleway', 'Arial';
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    border:0px solid rgb(0, 68, 255)

}

/* Conteneur de tous les blocs */
.conteneur
{
    margin-top: 0px;
    margin-block-end:0px;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid rgb(255, 102, 0)
}


h1
{
    color: #000000; 
    text-align: left;
    font-size:1.3em;
    font-family: 'Raleway', 'Arial';
}


h2
{
    color: #000000; 
    text-align: left;
    font-size:1.1em;
    font-family: 'Raleway', 'Arial';

}


h3
{
    color: #000000; 
    text-align: left;
    font-size:0.93em;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Raleway', 'Arial';

}

/* Texte */
p 
{
    color: #000000; 
    font-size: 0.93em;
    font-family: 'Raleway', 'Arial';
    margin-top: 2px;
    margin-bottom: 2px;

}


a:hover
{
    color: #0047b1; 
}

/* test */
a:active
{
    color: #000000;
}


img:hover
{
opacity: 0.96;
}


 /* Header = Logo + Menu nav*/
 .header
{
display: flex;
height: 70px;
width: auto;
justify-content: space-between;
border: 0px solid rgb(255, 94, 0);
margin-bottom: 25px;

}

/* Non réglés */
.bloclogo
{
    gap: 0px;
    position: relative;
    top: 15px


}

/* Bloc Nav de head Grand */
.menunav
{
    display: flex;
    gap: 27px;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    border: 0px solid rgba(7, 88, 0, 0.644);

}

/* Bloc dans Nav */
.Bloctexteheader
{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 28px;
    width: auto;
    height: auto;
    background-color: rgba(222, 184, 135, 0);

}

.Bloctexteheader:hover
{
    border-top: #0065FC solid 2px;

}


/* Texte dans Nav */
.Texteheader
{
    color: #0065FC; 
    font-size: 0.95em;
    font-weight:500;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 0px;

}

.Texteheader:hover
{
    border-top: #0065FC solid 0px;

}

.Texteinscription
{
    color: #0065FC; 
    font-size: 0.95em;
    font-weight:600;
    text-align: center;
    text-decoration: none;
    margin-top: 0px;

}


/* En tête de la page sous le logo */
.blocpremiertexte
{
    height: auto;
    width: auto;
    border: 0px solid black;
    margin-bottom: 3px;
    margin-top: 0px;
}


.premiertextetitre
{
    color: #000000; 
    font-weight:700;
    text-align: left;
    font-size:1.3em;
    font-family: 'Raleway', 'Arial';
    margin-bottom: 10px;
}


.premiertexte 
{
    color: #000000; 
    font-size: 0.93em;
    font-family: 'Raleway', 'Arial';
    margin-top: 0px;
    margin-bottom: 5px;

}




/* Zone Recherche */

.blocrecherche
{
    border: 0px solid rgb(255, 94, 0);
    margin-left: 8px;
    margin-bottom: 28px;
    margin-top: 20px;
    display:flex;
    justify-content: left;
    width: auto;
    height: 50px;
    gap:0px;

}


.Boutonlocalisation
{
    width: 50px;
    height:50px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f0f0f0;
    position: relative;
    right:0px;
    bottom: 0px
}


.Logolocalisation
{
    position: relative;
    left: 18.5px;
    top: 14px
}


.Espacesaisie
{
    height:auto;
    width: 200px;
    font-family: 'Raleway', 'Arial';
    font-size: 1.05em;
    font-weight:500;
    padding:15px;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    border-left: 0px solid white;
    border-right: 0px solid white;

}


.Boutonrechercher
{
    width: auto;
    height:50px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    position: relative;
    right:0px;
    bottom: 0px
}


.Texterecherche
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    color: white;    
    font-weight: 600;
    margin-top: 13px;
    margin-left: 15px;
    margin-right:18px

}


/* Filtres */

.Boutonfiltres
{
    display: flex;
    width: auto;
    height:auto;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 19px;
    border: 2px solid #dbdbdb;
    background-color: #ffffff;
}


.Textefiltres
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 9px;
    margin-right:20px;
    position: relative;
    bottom:1px


}


.Textefiltres1
{
    font-family: 'Raleway', 'Arial';
    height: auto;
    font-size: 1.05em;
    font-weight: 600;
    margin-top: 12.5px;
    margin-left: 3px;
    margin-right:23px

}

.blocfiltres
{
    border: 0px solid rgba(238, 234, 0, 0.315);
    margin-left: 8px;
    margin-bottom: 26px;
    margin-top: 26px;
    display:flex;
    justify-content: left;
    width: auto;
    height: 48px;
    gap:0px;

}


.Rondfiltres
{
    width: 44px;
    height:44px;
    border-radius: 100%;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
    position: relative;
    right:3px;
    bottom: 2px
}

.Logofiltres1
{
    position: relative;
    left: 11.5px;
    top: 12.6px
    
}

.Logofiltres2
{
    position: relative;
    left: 14px;
    top: 11.2px
    
}

.Logofiltres3
{
    position: relative;
    left: 12.5px;
    top: 12.5px
    
}

.Logofiltres4
{
    position: relative;
    left: 11px;
    top: 9px
    
}




/* Info (en dessous filtres) */


.blocinfo
{
    margin-left: 8px;
    margin-bottom: 7px;
    margin-top: 15px;
    gap:9px;
    display:flex;
    justify-content: left;
    width: auto;
    padding-top: 8px;
}

.Rondinfo
{
    width: 24px;
    height:24px;
    border-radius: 50px;
    border: 2px solid #dbdbdb;
    justify-content: center;
    position: relative;
    bottom: 2px
}

.logoinfo
{
    width: 20px;
    height: 20px;
    position: relative;
    left: 10.2px;
    top: 4.4px
    
}


/* Conteneur Hébergement */

.conteneurhebergepopu
{
    display: flex;
    justify-content:space-between;
    margin: auto;
    height: auto;
    width: auto;
    gap:35px;
    margin-bottom: 50px;
    border: 0px solid black
}

/* Conteneur Hébergement */

.conteneurhebergement
{
    display: column;
    justify-content:space-between;
    padding: 41px;
    height:545px;
    margin-bottom: 0px;
    width: auto;
    background-color:#f0f0f0;
    border-radius: 30px;
}


/* Bloc Hébergement */

.Blocshebergement
{
    display: flex;
    justify-content:space-between;
    margin: auto;
    height: auto;
    gap: 30px;
    margin-bottom: 30px;
    border: 0px solid black
}

/* Card hébergement */
.Cardhébergement
{
display: column;
width: auto;
height: auto;
text-align: left;
background-color: white;
border-radius: 20px;
border: 5px #ffffff solid;
box-shadow: 0 0 6px 3px #b1b1b14b;
}


/* Photo in hebergement */
.Blocshebergement img
{
width: 235px;
height: 113px;
border-radius: 16px 16px 0% 0%;
background-color: white

}


/* Texte dans Card */
.Textehébergement
{
display: column;
width: auto;
height: auto;
text-align: left;
border: 0px solid rgb(255, 0, 0);
background-color: white;
padding-left: 13px;

}


/* Note dans Texte */

.bluestar
{
display: flex;
justify-content: left;
width: auto;
height: auto;
text-align: left;
margin-top: 5px;
margin-bottom: 5px;
border: 0px solid rgb(247, 0, 255);
background-color: white;
font-size: 0.72em; 
color: rgb(7, 92, 250);

}

.greystar
{
display: flex;
justify-content: left;
width: auto;
height: auto;
text-align: left;
margin-top: 5px;
margin-bottom: 5px;
border: 0px solid rgb(247, 0, 255);
background-color: white;
font-size: 0.72em; 
color: #d9d9d9;

}

.flex
{
    display: flex;
}


/* Populaire */

.Conteneurpopulaire
{
    width: 335px;
    height:545px;
    display: column;
    justify-content:space-between;
    margin: auto;
    background-color:#f0f0f0;
    padding: 41px;
    border-radius: 30px;
}

.Logotendance
{
    position: relative;
    right: 2.5px;
    top: 14px
}

.headerhébergement
{   
    border: 0px solid rgb(0, 240, 12);
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 6px;

}


.headerpopulaire
{   
    border: 0px solid rgb(0, 240, 12);
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 6px;

}

.Blocspopulaire
{
    display: flex;
    justify-content:space-between;
    flex-direction:column;
    gap: 26px;
    width: auto;
    height: auto;
    border: 0px solid rgb(0, 80, 145);

}

/* Card populaires = Photo + Texte + Notes (étoiles) */
.Cardpopulaires
{
display: flex;
width: auto;
height: auto;
text-align: left;
border: 5px #ffffff solid;
background-color: white;
border-radius: 20px;
box-shadow: 0 0 6px 3px #b1b1b14b;

}


/* Photo in blocspopulaire */
.Blocspopulaire img
{
width: 126px;
height: 132px;
border-radius: 12% 0% 0% 12%;
background-color: white

}


/* Texte in Card populaire  */
.Textepopulaires
{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 250px;
height: auto;
text-align: left;
margin-left: 12px;
padding-right: 10px;
border: 0px solid rgb(255, 0, 0);
background-color: white

}


/* Texte in Card populaire  */
.Textetoppopulaires
{
display: column;
width: auto;
height: auto;
text-align: left;
border: 0px solid rgb(51, 255, 0);
background-color: white

}


/* Activité à Marseilles */

/* Photo in blocspopulaire / corn le haut */
.Blocs1activités img
{
    height: 395px;
    width: 301px;
    border-radius: 16px 16px 0px 0px;
    background-color: white;

}


/* Photo in blocspopulaire */
.Blocs2activités img
{
    border-radius: 16px 16px 0px 0px;
    width: 301px;
    background-color: white

}


/* Les Card activités */
.Cardactivités
{
display: column;
height: auto;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
flex:1;

}

.Cardactivités1
{
display: column;
height: 227px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.Cardactivités2
{
display: column;
height: 171px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.Cardactivités3
{
display: column;
height: 190px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.Cardactivités4
{
display: column;
height: 202px;
text-align: left;
border-radius: 16px 16px 16px 16px;
box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-webkit-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);
-moz-box-shadow: 3px 3px 18px -6px rgba(0,0,0,0.4);

}

.Conteneuractivitésglobal
{
    height: auto;
    width: auto;
    display: column;
    justify-content:space-between;
    border: 0px solid blue;
    margin-bottom: 58px;
}


.Conteneuractivitésblocs
{
    width: auto;
    height: 445px;
    display: flex;
    justify-content:space-between;
    border: 0px solid blue;
    gap: 41px;
}

.Blocs1activités
{
    display: flex;
    height: auto;
    width: auto;
    border: 0px solid rgb(0, 22, 221);
}


.Blocs2activités
{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    height: auto;
    width: auto;
    border: 0px solid rgb(0, 89, 255);
}



.Texteactiv
{
    font-family: 'Raleway', 'Arial';
    border: 0px solid rgb(255, 0, 0);
    padding-left: 18px;
    height: auto;
    margin-top: 9px;
    font-size: 1.02em;


}




/* Footer */

footer 
{
    display: absolute;
    position: relative;
    width: 100%;
    margin: 0px;
    border: 0px solid rgb(31, 0, 167)


}

.conteneurfooter
{
    display: flex;
    justify-content:space-between;
    height: auto;
    width: auto;
    background-color:#F2F2F2;
    padding: 45px;

}



.blocsfooter
{
    display: flex;
    flex: 1;
    border: 0px solid #1900ff;
    gap: 17px
}


.bloctextefooter
{
    height: auto;
    flex:1;
    min-width: 235px;
    justify-content: column;
    border: 0px solid black;

}


.textefooter
{
    color: #000000; 
    font-size: 0.95em;
    line-height: 170%;
    font-weight:300;
    text-align: left;
    text-decoration: none;

}


.textefooterstrong
{
    color: #000000; 
    font-size: 1.1em;
    font-weight:600;
    text-align: left;
    margin-bottom: 10px;

}



